{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "computed-property-spacing": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "indent": ["error"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ]
  }
}